{{ define "crear" }}

<div class="card">
    <div class=card-header>
    Empleados
    </div>
    <div class = "card-body">
    <form method="post" action="/insertar">
  <p>Nombre: <input type="text" name="nombre" id="nombre" size="40"></p>
  <p>Correo: <input type="text" name="correo" id="correo" size="40"></p>
  <p>
  <button type="submit"> Agregar Nuevo Empleado</button>
  </p>
</form>
    </div>
</div>



{{end}}